/*ตรงนี้ CSS สำหรับตกแต่ง(id class)*/
@font-face { 
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}
body {
    font-family: 'Kanit';
    font-size: 14px;
    background-color: #FFF2F2;
    background: url(https://media0.giphy.com/media/xT9IgC2RzpbE7vBZ6M/giphy.webp?cid=790b7611knn4silnw0d2dxlhp0x1zlq12lvqv83qdauymsap&ep=v1_gifs_search&rid=giphy.webp&ct=g);
    background-size: cover;
    background-position: center;

}
.container {
    background:transparent;
    position: relative;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    box-sizing: border-box ;
    border: 2px solid #2D336B;
    border-radius: 20px; 
}
.header{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #2A2F4F;
    font-weight:900;
    background-color: #BBE1FA;
    border-radius: 20px; 
    padding: 10px ;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 2px;
    border-radius: 10px;
    border-radius: 20px; 
}
th, td{
    padding: 8px;
    border-bottom: 1px solid #2A2F4F;
    color: #674188;
    text-align: center;
}
th{
    color: #F7EFE5;
    background-color: #674188;
}
tr:nth-child(odd){background-color: #E3A5C7}
tr:nth-child(even){background-color: #F7EFE5}

.delete, .edit{
    border:  solid #B03052;
    background-color: #B03052;
    color: #F7EFE5;
    font-weight:550;
    font-size: 12px;
    margin-right: 10px;
    border-radius: 20px; 
}

.header-back{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    color: #2A2F4F;
    font-weight:900;
    background-color: #BBE1FA;
    padding: 10px ;
    border-radius: 20px; 
}
.info{
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    color: #5E63B6;
    font-weight: bold;
    background-color: #FFE5E5;
    padding: 6px ;
    border-radius: 30px; 
}

.header-form{
    font-weight: bold;
    font-size: 15px;
    width: 140px;
    color: #5E63B6;
    margin-left: 20px;
    border-radius: 20px; 
    text-align: center;
    background-color: #FFFBF5;
}
.header-des{
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    color: #5E63B6;
    margin-bottom: 10px;
    border-radius: 20px; 
    text-align: center;
    background-color: #FFFBF5;
}
.flex{
    display: flex;
    color: #00334E;
}
.line{
    color: #00334E;
}
.form-input{
    margin-bottom: 10px;
}

input.form, textarea{
    border: 2px solid #B692C2;
    width: 100%;
    border-radius: 20px; 
}

textarea:focus, input:focus{
    background-color: #FFCDEA;
}
.center{
    text-align: center;
}

.button{
    transition-duration: 0.4s;
    border: 2px solid #F7A8C4;
    background-color: #F7A8C4;
    width: 50%;
    height: 40px;
    color: #2A2F4F;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px; 
}
.button:hover {
    background-color: #917FB3; 
    border: 2px solid #917FB3;
    color: #FDE2F3;
    border-radius: 20px; 
}

input:focus{
    background-color: #E5BEEC;
    
}

.message{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-buttom: 10px;
    display: none;
}
.message.success{
    background-color: #006769;
    display: block;
}
.message.danger{
    background-color: #AF1740;
    display: block;
}
@media screen and (max-width: 768px) {
    .flex{
        flex-direction: column;
    }
    .header{
        font-size: 24px;
    }
}